#### 【练习一】现有一份虚拟数据集，列类型分别为string/浮点/整型，请解决如下问题：
#### （a）请以列类型读入数据，并选出C为缺失值的行。

In [7]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/Missing_data_one.csv').convert_dtypes()
df.head()

         A      B     C
0  not_NaN  0.922     4
1  not_NaN  0.700  <NA>
2  not_NaN  0.503     8
3  not_NaN  0.938     4
4  not_NaN  0.952    10

In [8]:
df[df['C'].isna()]

          A      B     C
1   not_NaN  0.700  <NA>
5   not_NaN  0.972  <NA>
11  not_NaN  0.736  <NA>
19  not_NaN  0.684  <NA>
21  not_NaN  0.913  <NA>

#### （b）现需要将A中的部分单元转为缺失值，单元格中的最小转换概率为25%，且概率大小与所在行B列单元的值成正比。

#### 【练习二】 现有一份缺失的数据集，记录了36个人来自的地区、身高、体重、年龄和工资，请解决如下问题：
#### （a）统计各列缺失的比例并选出在后三列中至少有两个非缺失值的行。

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/Missing_data_two.csv').convert_dtypes()
df.head()

   编号 地区      身高     体重    年龄     工资
0   1  A  157.50    NaN    47  15905
1   2  B  202.00  91.80    25   <NA>
2   3  C  169.09  62.18  <NA>   <NA>
3   4  A  166.61  59.95    77   5434
4   5  B  185.19    NaN    62   4242