#### 【练习一】 现有一份关于字符串的数据集，请解决以下问题：
#### （a）现对字符串编码存储人员信息（在编号后添加ID列），使用如下格式：“×××（名字）：×国人，性别×，生于×年×月×日”

In [50]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/String_data_one.csv',index_col='人员编号')
#display(df.head())
df1 = df.astype('str').astype('string')
#for row_index, row in df1.iterrows():
#    print(row[0])
df1.insert(0, 'ID', df1['姓名'] + "（名字）：" + df1['国籍'] + "国人，性别" +  df1['性别'] + "，生于" + df1['出生年'] + "年" + df1['出生月'] + "月" + df1['出生日'] + "日")
df1.head()

                                   ID      姓名 国籍 性别   出生年 出生月 出生日
人员编号
1      aesfd（名字）：2国人，性别男，生于1942年8月10日   aesfd  2  男  1942   8  10
2     fasefa（名字）：5国人，性别女，生于1985年10月4日  fasefa  5  女  1985  10   4
3     aeagd（名字）：4国人，性别女，生于1946年10月15日   aeagd  4  女  1946  10  15
4        aef（名字）：4国人，性别男，生于1999年5月13日     aef  4  男  1999   5  13
5        eaf（名字）：1国人，性别女，生于2010年6月24日     eaf  1  女  2010   6  24

#### （b）将（a）中的人员生日信息部分修改为用中文表示（如一九七四年十月二十三日），其余返回格式不变。