#### 【练习一】 现继续使用第四章中的地震数据集，请解决以下问题：
#### （a）现在将深度分为七个等级：[0,5,10,15,20,30,50,np.inf]，请以深度等级Ⅰ,Ⅱ,Ⅲ,Ⅳ,Ⅴ,Ⅵ,Ⅶ为索引并按照由浅到深的顺序进行排序。

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/Earthquake.csv')
df.head()

           日期           时间     维度     经度          方向   距离    深度   烈度
0  2003.05.20  12:17:44 AM  39.04  40.38        west  0.1  10.0  0.0
1  2007.08.01  12:03:08 AM  40.79  30.09        west  0.1   5.2  4.0
2  1978.05.07  12:41:37 AM  38.58  27.61  south_west  0.1   0.0  0.0
3  1997.03.22  12:31:45 AM  39.47  36.44  south_west  0.1  10.0  0.0
4  2000.04.02  12:57:38 AM  40.80  30.24  south_west  0.1   7.0  0.0

In [11]:
s = pd.cut(df['烈度'], [0,5,10,15,20,30,50,np.inf], include_lowest=True, labels=['Ⅰ','Ⅱ','Ⅲ','Ⅳ','Ⅴ','Ⅵ','Ⅶ'])
df.set_index(s).sort_index().head()

            日期           时间     维度     经度          方向   距离    深度   烈度
烈度
Ⅰ   2003.05.20  12:17:44 AM  39.04  40.38        west  0.1  10.0  0.0
Ⅰ   2014.01.02  12:48:54 AM  40.08  35.72  south_east  3.0   5.0  3.7
Ⅰ   2015.01.13  12:45:51 AM  36.95  28.27  south_east  3.0   7.3  3.6
Ⅰ   1970.04.26  12:36:06 AM  39.03  29.77       south  3.0   5.0  0.0
Ⅰ   1990.12.02  12:38:45 AM  38.19  27.05       south  3.0   1.0  3.8

#### （b）在（a）的基础上，将烈度分为4个等级：[0,3,4,5,np.inf]，依次对南部地区的深度和烈度等级建立多级索引排序。